{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 xol-xs-12">

                <div class="panel panel-default">
                    <div class="text-center">
                        <h2>

                        </h2>
                    </div>


                    <div class="panel-heading">Simple Chat Test Project</div>
                    <div class="panel-body">

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-10 col-xs-10 col-md-offset-3 col-lg-offset-3">
                                {{ form_widget(form.textMessage, {'attr': {'class': 'form-control', 'placeholder': "Let\'s type something here"}}) }}
                            </div>
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                {{ form_row(form.send, {'attr': {'class': 'btn btn-primary btn-md'}}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>created</th>
                            <th>message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% if messages is defined %}
                            {% for message in messages %}
                        <tr>
                            <td>{{ message.createdAt.date|date("Y-m-d G:i:s") }}</td>
                            <td>{{ message.textMessage }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
